<!-- Conversion of AutoEventWireup attribute (value: "true") for Control directive not currently supported -->
<h2>Custom user control</h2>
<label id="Label1">Check boxes</label>
@* The following tag is not supported: <asp:CheckBoxList ID="chkList" runat="server" AutoPostBack="true" OnSelectedIndexChanged="CheckBoxList1_SelectedIndexChanged"> *@
    @* The following tag is not supported: <asp:ListItem Value="1"> *@Check box item 1@* </asp:ListItem> *@
    @* The following tag is not supported: <asp:ListItem Value="2"> *@Check box item 2@* </asp:ListItem> *@
    @* The following tag is not supported: <asp:ListItem Enabled="false" Value="3"> *@Check box item 3@* </asp:ListItem> *@
@* </asp:CheckBoxList> *@
<br>
@* The following tag is not supported: <asp:Literal ID="Literal1" runat="server" Text="Selected items"> *@@* </asp:Literal> *@
@* The following tag is not supported: <asp:ListBox ID="lstList" runat="server"> *@@* </asp:ListBox> *@
<br>
<div>
    @* The following tag is not supported: <asp:DropDownList ID="drpList" AutoPostBack="true" runat="server" OnSelectedIndexChanged="DropDownList1_SelectedIndexChanged"> *@
        @* The following tag is not supported: <asp:ListItem Selected="True" Value="A"> *@A@* </asp:ListItem> *@
        @* The following tag is not supported: <asp:ListItem Value="B"> *@B@* </asp:ListItem> *@
    @* </asp:DropDownList> *@
    @* The following tag is not supported: <asp:Table ID="Table1" runat="server" GridLines="Both" CellPadding="3" BackColor="Wheat"> *@
        @* The following tag is not supported: <asp:TableRow> *@
            @* The following tag is not supported: <asp:TableCell Width="200"> *@Dropbox item selected@* </asp:TableCell> *@
            @* The following tag is not supported: <asp:TableCell ID="cellResult" Width="50" HorizontalAlign="Center"> *@A@* </asp:TableCell> *@
        @* </asp:TableRow> *@
    @* </asp:Table> *@
</div>