@namespace Replace_this_with_code_behind_namespace
@inherits LayoutComponentBase
<!-- Conversion of AutoEventWireup attribute (value: "true") for Master directive not currently supported -->
<!-- Conversion of Inherits attribute (value: "WebFormsChecklist.Site_Mobile") for Master directive not currently supported -->
@using WebFormsChecklist

<!DOCTYPE html>



    <form id="form1" runat="server">
    <div>
        <h1>Mobile Master Page</h1>
        @Body
        <section class="content-wrapper main-content clear-fix">
            @Body
        </section>
        <ViewSwitcher></ViewSwitcher>
    </div>
    </form>


